# Choose your default model api. It can be "ollama" or "openai"
export COGNICONSOLE_DEFAULT_MODEL_API="openai"

# If on COGNICONSOLE_DEFAULT_MODEL_API you chose "ollama"...
# export COGNICONSOLE_OLLAMA_DEFAULT_MODEL="deepseek-r1:latest"
# export COGNICONSOLE_OLLAMA_DEFAULT_API_URL="http://192.168.8.126:11435/api/generate"

# If on COGNICONSOLE_DEFAULT_MODEL_API you chose "openai"...
export OPENAI_API_KEY="<your-open-ai-key>"

# Uncomment the following envvar if you want to save the chats.
# export COGNICONSOLE_LOG_CHATS=1